html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color:#FFFFFF
}

.container{
    max-width: 940px;
    width:100%;
    margin:0 auto;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-left: 30px;
    margin-right: 30px;
}

.link_menu{
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.link_menu:hover, .link_menu:active{
    color: #070707;
    transition: 0.5s;
}

.head_name{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.title_name{
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    width:123.51px; 
     margin-top: 40px;
}

.profession{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    width:152px;
    margin-top: 100px;
}

.lang{
    transform: rotate(-90deg);
    margin-bottom:0;
    width:65x;
    height: 20px;
    margin-top: 105px;
}

.lang_link{
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;  
}

.lang_link:last-child{
    border-left:2px solid #070707;
    padding-left: 5px;
}

.lang_link:hover{
    color:#070707;
    transition: 0.5s;
}

.pic_person{
    margin-top: 30px;
    height: 387px;
    background-image: url('/img/back_head.png');
    margin-left: 30px;
    margin-right: 30px;
}

.header_burger{
    display: none;
}

@media(max-width:960px)
{
  .pic_person{
    background-position:center;
  }
     
}

.header{
    position: relative;
}

@media(max-width:767px){
    .pic_person{
        background-image: url('/img/back_head_adaptive.png');
        background-repeat: no-repeat;
        margin:0 auto;
        width: 316.5px;
        height: 478px;
        margin-top:105px;
    }   
    .header_burger{
        display: inline-block;
        position: absolute;
        width:30px;
        height:20px;
        z-index: 3;
        right:30px;
        top: 50px;
    }
    .header_burger:before, .header_burger:after{
        content: ' ';
        background-color: #111;
        position: absolute;
        width:100%;
        height:2px;
        left:0;
        transition: 0.5s;
    }
    .header_burger span{
        position: absolute;
        background-color: #111;
        left:0;
        width: 100%;
        height:2px;
        top:9px;
        transition: 0.5s;
    }
    .header_burger.active:before{
        transform:rotate(45deg);
        top:9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom:9px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger:before{
        top:0;
    }
    .header_burger:after{
        bottom:0; 
    }
    .nav_menu{
        position: fixed;
        display: block;
        top:-200%;
        left:-3%;
        width:100%;
        height:100%;
        background-color:#fff;
        z-index: 2;
        transition: 0.5s;
        border:0;
    }
    .profession{
        display: block;
        position: absolute;
        margin-top: 180px;
    }
    .nav_menu.active{
        top:0;
        transition: 0.5s;
    }
    .link_menu{
        font-family: 'Gilroy-Bold';
        font-size: 34px;
        line-height: 42px;
        margin-left: 26px;
    }
    .menu_txt{
        margin-top: 68px;
    }
    body.lock{
        overflow: hidden;
    }
    .lang{
        display: none;
    }
    .head_name{
        margin-left: 26px;
    }
}

.about_me{
    position: relative;
    background: #F6F6F6;
    margin-top: 104px;
}

.title_me{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 120px;
}

.txt_about{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    width: 485.34px;
    height: 218px;
    margin:0 auto;
}

.txt_about p{
    margin-top: 18px;
}

@media (max-width:560px){
    .txt_about{
         width: 316px;
        height: 261px;;
    }
}

.title_skills{
    margin-top: 91px;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.txt_skills{ 
    margin-top: 70px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.program_skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
}

.table_skills{
    margin-top: 80px;
    position: relative;
}

.txt_icon_skills{ 
    margin:24px auto;
    width:70px;
    height:27px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.txt_icon_skills.ae{
    width:89px;
}

.rating-result {
    position: absolute;
	width: 250px;
	margin-left: -50px;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #070707;;
	text-shadow: 1px 1px #070707;;
}

@media (max-width:830px){
    .program_skills{
     width:18%;
     margin:0 auto; 
     justify-content: center;
    }
    
}

.portfolio{
    margin-top: 190px;
    background: #F6F6F6;
    max-width: 100%;
}

.title_portfolio{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 112px; 
}

.pic_port{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 936.24px;
    height: 510px;
}

.pic_port.first{
    background-image:url(/img/first_portfolio.png);
    background-position:center;
    max-width: 936.24px;
    height: 522px;
}
.pic_port.second{
    background-image: url(/img/second_portfolio.png);
    background-position:center;
    max-width: 936.24px;
    height: 522px;
}
.pic_port.third{
    background-image: url(/img/third_portfolio.png);
    background-position:center;
    max-width: 936.24px;
    height: 522px;
    }

.link_port{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}


@media(max-width:990px){
    .pic_port.first{
        max-width:800px;
        background-position:center;
        margin:0 auto;
    }
    .pic_port.second{
        max-width:800px;
        background-position:center;
        margin:0 auto;
    }
    .pic_port.third{
        max-width:800px;
        background-position:center;
        margin:0 auto;
    }
}

@media(max-width:820px){
    .pic_port.first{
        max-width:700px;
        background-position:center;
        margin:0 auto;
    }
    .pic_port.second{
        max-width:700px;
        background-position:center;
        margin:0 auto;
    }
    .pic_port.third{
        max-width:700px;
        background-position:center;
        margin:0 auto;
    }
}

@media(max-width:700px){
    .title_portfolio{
        margin-top: 20px;
    }
    .portfolio{
        margin-top: 100px;
    }
    .pic_port.first{
        background-image: url(/img/first_port_ad.png);
        background-repeat:no-repeat;
        width: 316px;
        height: 171px;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pic_port.second{
        background-image: url(/img/second_pic_ad.png);
        background-repeat: no-repeat;
        width: 316px;
        height: 171px;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pic_port.third{
        background-image: url(/img/third_pic_ad.png);
        background-repeat: no-repeat;
        width: 316px;
        height: 171px;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.contacts{
    margin-top: 115px;
}

.title_cont{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 20px;
}

.txt_cont{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.button{
    position: relative;
    background: #070707;
    width:176px;
    height:40px;
    border-radius:50%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

.button_link{
    position: absolute;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-top: 9px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
}

.button_link:hover{
    color:rgb(67, 62, 62);
    transition: 0.8s;
}

.img_cont:hover{
    transform: scale(1.5);
    transition: 1s;
}

.txt_cont_bot{
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    width:243px;
    height:34px;
    margin:0 auto;
    margin-bottom: 45px;
}